@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+QLD+Beginner&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: Edu QLD Beginner;
  text-align: center;
  min-width: 320px;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #192734;
    overflow: hidden;
    z-index: -1;
}
.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(0) {
    color: #ba68c8;
    top: 84%;
    left: 33%;
    animation-duration: 37s;
    animation-delay: -6s;
    transform-origin: -20vw 2vh;
    box-shadow: -40vmin 0 5.92719072088198vmin currentColor;
}
.background span:nth-child(1) {
    color: #ba68c8;
    top: 83%;
    left: 35%;
    animation-duration: 16s;
    animation-delay: -4s;
    transform-origin: 9vw -11vh;
    box-shadow: -40vmin 0 5.5335313556294246vmin currentColor;
}
.background span:nth-child(2) {
    color: #ba68c8;
    top: 47%;
    left: 4%;
    animation-duration: 30s;
    animation-delay: -21s;
    transform-origin: 19vw -16vh;
    box-shadow: -40vmin 0 5.878743061517307vmin currentColor;
}
.background span:nth-child(3) {
    color: #ba68c8;
    top: 84%;
    left: 37%;
    animation-duration: 40s;
    animation-delay: -22s;
    transform-origin: -4vw -10vh;
    box-shadow: 40vmin 0 5.0586096198807695vmin currentColor;
}
.background span:nth-child(4) {
    color: #ba68c8;
    top: 100%;
    left: 57%;
    animation-duration: 18s;
    animation-delay: -49s;
    transform-origin: 15vw -1vh;
    box-shadow: -40vmin 0 5.159212198862255vmin currentColor;
}
.background span:nth-child(5) {
    color: #ba68c8;
    top: 94%;
    left: 98%;
    animation-duration: 41s;
    animation-delay: -46s;
    transform-origin: 9vw -22vh;
    box-shadow: 40vmin 0 5.553663989317032vmin currentColor;
}
.background span:nth-child(6) {
    color: #ba68c8;
    top: 32%;
    left: 71%;
    animation-duration: 32s;
    animation-delay: -7s;
    transform-origin: -24vw 12vh;
    box-shadow: 40vmin 0 5.064389068676869vmin currentColor;
}
.background span:nth-child(7) {
    color: #ba68c8;
    top: 27%;
    left: 44%;
    animation-duration: 35s;
    animation-delay: -36s;
    transform-origin: -16vw 13vh;
    box-shadow: 40vmin 0 5.427127956663372vmin currentColor;
}
.background span:nth-child(8) {
    color: #ba68c8;
    top: 58%;
    left: 69%;
    animation-duration: 37s;
    animation-delay: -24s;
    transform-origin: 6vw -17vh;
    box-shadow: -40vmin 0 5.716061240425808vmin currentColor;
}
.background span:nth-child(9) {
    color: #ba68c8;
    top: 74%;
    left: 67%;
    animation-duration: 30s;
    animation-delay: -40s;
    transform-origin: 17vw 22vh;
    box-shadow: 40vmin 0 5.143771421859654vmin currentColor;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.container .content {
  flex: 1 1 360px;
}
.heading {
  height: 180px;
  margin: auto;
  max-width: 360px;
}
.heading h1 {
  font-family: Carter One;
  font-size: 48px;
  -webkit-text-stroke: 1.5px #faf9f6;
  color: transparent;
  font-style: italic;
  margin-left: -15px;
}
.heading h3 {
  border-top: 2px solid rgba(250, 249, 246, 0.5);
  width: 40%;
  margin: -30px auto 20px auto;
}
.heading p {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: -15px;
  margin-left: 10px;
  color: #faf9f6;
}
.launch {
  text-align: center;
  margin-bottom: -30px;
  font-size: 16px;
  color: #faf9f6;
}
.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.countdown div {
  position: relative;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background: rgba(250, 249, 246, 0.1);
  color: #faf9f6;
  margin: 25px 15px;
  font-size: 36px;
  font-weight: 500;
  border-radius: 5px;
}
.countdown div:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 5%;
  width: 90%;
  height: 35px;
  background: #ba68c8;
  color: #faf9f6;
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  border-radius: 5px;
}
.countdown div#day:before {
  content: "Days";
}
.countdown div#hour:before {
  content: "Hours";
}
.countdown div#minute:before {
  content: "Minutes";
}
.countdown div#second:before {
  content: "Seconds";
}
.tuned {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #faf9f6;
}
.box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.form-box {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  background: rgba(250, 249, 246, 0.1);
  display: flex;
  justify-content: space-between;
}
.form-box input {
  font-size: 14px;
  margin: 0 5px;
  border: none;
  outline: none;
  background: transparent;
  width: 120px;
  font-family: Edu QLD Beginner;
  color: #faf9f6;
}
.form-box button {
  color: #faf9f6;
  font-family: Edu QLD Beginner;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #ba68c8;
  cursor: pointer;
  transition: 0.3s;
  width: 80px;
  height: 30px;
  margin: 5px;
}
.form-box button:hover {
  font-size: 14px
}
.headingnew p {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Carter One;
  font-size: 36px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #faf9f6;
}
.gallery-wrap {
  text-align: center;
  margin: -30px auto 30px auto;
}
.gallery-image {
  display: inline-block;
  width: 320px;
  height: 320px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(250, 249, 246, 0.05) 0px 0px 20px;
  transition: 0.3s;
}
.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.gallery-wrap .text {
  width: 100%;
  background-color: #ba68c8;
  color: #faf9f6;
  font-size: 16px;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}
.gallery-image:hover img {
  transform: scale(1.1);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  transition: 0.3s;
}
.gallery-image:hover .text {
  opacity: 1;
}
